# Analisis Exploratorio de Datos

## Importe de librerias

In [2]:
import warnings

warnings.filterwarnings("ignore")

In [3]:
# Importar librerias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Cargue y lectura de datos

In [5]:
datos = pd.read_csv('https://raw.githubusercontent.com/jfelipeo/Proyecto_Analitica_II_M3_Equipo5/main/Absenteeism_at_work.csv', sep=";")
datos.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

## Nombre de los campos

* 'ID'	 Identificacion
* 'Reason for absence'	 Razón de ausencia
* 'Month of absence'	 Mes de ausencia
* 'Day of the week'	 Día de la semana
* 'Seasons'	 Estaciones
* 'Transportation expense'	 Gasto en transporte
* 'Distance from Residence to Work'	 Distancia desde la residencia hasta el trabajo
* 'Service time'	 Tiempo de servicio
* 'Age'	 Edad
* 'Work load Average/day '	 Carga de trabajo promedio por día
* 'Hit target'	 Objetivo alcanzado
* 'Disciplinary failure'	 Fallo disciplinario
* 'Education'	 Educación
* 'Son'	 Hijo
* 'Social drinker'	 Bebedor social
* 'Social smoker'	 Fumador social
* 'Pet'	 Mascota
* 'Weight'	 Peso
* 'Height'	 Altura
* 'Body mass index'	 Índice de masa corporal
* 'Absenteeism time in hours'	 Tiempo de ausencia en horas

## Descripción de los datos

In [6]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    float64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: float64(1), int64(20)
memory usage: 121.5 KB

In [7]:
datos.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,740.0,18.017568,11.021247,1.000,9.000,18.000,28.000,36.000
Reason for absence,740.0,19.216216,8.433406,0.000,13.000,23.000,26.000,28.000
Month of absence,740.0,6.324324,3.436287,0.000,3.000,6.000,9.000,12.000
Day of the week,740.0,3.914865,1.421675,2.000,3.000,4.000,5.000,6.000
Seasons,740.0,2.544595,1.111831,1.000,2.000,3.000,4.000,4.000
Transportation expense,740.0,221.329730,66.952223,118.000,179.000,225.000,260.000,388.000
Distance from Residence to Work,740.0,29.631081,14.836788,5.000,16.000,26.000,50.000,52.000
Service time,740.0,12.554054,4.384873,1.000,9.000,13.000,16.000,29.000
Age,740.0,36.450000,6.478772,27.000,31.000,37.000,40.000,58.000
Work load Average/day,740.0,271.490235,39.058116,205.917,244.387,264.249,294.217,378.884
Hit target,740.0,94.587838,3.779313,81.000,93.000,95.000,97.000,100.000
Disciplinary failure,740.0,0.054054,0.226277,0.000,0.000,0.000,0.000,1.000
Education,740.0,1.291892,0.673238,1.000,1.000,1.000,1.000,4.000
Son,740.0,1.018919,1.098489,0.000,0.000,1.000,2.000,4.000
Social drinker,740.0,0.567568,0.495749,0.000,0.000,1.000,1.000,1.000
Social smoker,740.0,0.072973,0.260268,0.000,0.000,0.000,0.000,1.000
Pet,740.0,0.745946,1.318258,0.000,0.000,0.000,1.000,8.000
Weight,740.0,79.035135,12.883211,56.000,69.000,83.000,89.000,108.000
Height,740.0,172.114865,6.034995,163.000,169.000,170.000,172.000,196.000
Body mass index,740.0,26.677027,4.285452,19.000,24.000,25.000,31.000,38.000
Absenteeism time in hours,740.0,6.924324,13.330998,0.000,2.000,3.000,8.000,120.000